## Ahmad 2610-4004
## Task : Lab2
## class : Programming For AI Lab

___

## Task 1

1. We are creating a database where we are going to store following items
## Customer Orders
* order_id
* customer_name
* order_items
* discount
* order_total
* order_date
## Temperature Monitoring
* sensor_id
* location
* temperature_readings (list)
* average_temperature
* timestamp
Your job is to identify the data-type to be used for each of above values. Also 
create an example for one record using variables and values of appropriate data
types. Print Values

In [13]:
order_id = 101
print(order_id)
print(type(order_id))

customer_name = "Ahmad"
print(customer_name)
print(type(customer_name))


order_items = ["pen","book","laptop"]
print(order_items)
print(type(order_items))

discount = 10
print(discount)
print(type(discount))

order_total = 3
print(order_total)
print(type(order_total))

order_date = "20/02/2026"
print(order_date)
print(type(order_date))

101
<class 'int'>
Ahmad
<class 'str'>
['pen', 'book', 'laptop']
<class 'list'>
10
<class 'int'>
3
<class 'int'>
20/02/2026
<class 'str'>

In [11]:
## Temperature Monitoring

In [17]:
sensor_id = 1001
print(sensor_id)
print(type(sensor_id))


location = "Islamabad"
print(location)
print(type(location))

temperature_readings = [30.0,33.2,34.1,31.0,28.0]
print(temperature_readings)
print(type(temperature_readings))


average_temperature = sum(temperature_readings ) / len(temperature_readings)
timestamp = "2026-02-20 09:16:53.160875"

print(timestamp)

1001
<class 'int'>
Islamabad
<class 'str'>
[30.0, 33.2, 34.1, 31.0, 28.0]
<class 'list'>
2026-02-20 09:16:53.160875

## Task 2

2. Announcement Preview
You're developing an announcement preview tool for a messaging platform. The 
tool needs to provide a concise preview of longer messages.

Task:

Given a message: "Join us for the webinar on Aug 30, 2023, 2:00 PM (GMT)", 
perform the following tasks:
* Calculate the length of the message.
* Replace the word "webinar" with "online session".
* Extract the date "Aug 30, 2023".
* Create a shortened preview containing only the first 40 characters.
* Extract time.
Print all the results.

In [28]:
message = "Join us for the webinar on Aug 30, 2023, 2:00 PM (GMT)"
print(message)

print("length of message " , len(message))

message.replace("webinar","online session")
print("The new version ",message)

exact_date = message[27:39]
print(exact_date)

print(message[:40])

print("Time : ", message[40:48])

Join us for the webinar on Aug 30, 2023, 2:00 PM (GMT)
length of message  54
The new version  Join us for the webinar on Aug 30, 2023, 2:00 PM (GMT)
Aug 30, 2023
Join us for the webinar on Aug 30, 2023,
Time :   2:00 PM